<header class="header">
    
    <a href="#">
        <img src="../../assets/logo_smol.png" alt="Logo" class="logo" />
        <span class="logo-text">SpeakUp</span>
    </a>

    <nav class="nav-menu">
        <div class="nav-item nav-item-home"><a href="#">HOME</a></div>
        <div class="nav-item nav-item-popular"><a href="#">POPULAR</a></div>
        <div class="nav-item"><a href="#">ALL</a></div>
    </nav>

    <div class="user-actions">
        
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3e4de699343342127811684602f95332bb718c4d595401543df89e0e14be9753?apiKey=b86036a5846045fa8db7cf278357723c&"
            alt="Search" class="search-icon" />

        <div class="add-post">
            <a href="addPost.html">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1852baada6349567e2de126e4bbb8c8261dd9b563226f34d8c05fa0ef165a826?apiKey=b86036a5846045fa8db7cf278357723c&"
                alt="Add post" class="add-icon" />
                <span class="add-text">add</span>
            </a>
        </div>

        <div class="user-profile">
            <div class="user-avatar"></div>

            <div class="drop-down-menu">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d65130b9b47b6bf3763f24c655eb4d95b69baf52606aec17aac7a1bc5348243?apiKey=b86036a5846045fa8db7cf278357723c&"
                        alt="User settings" class="user-settings" />
                </label>

                <ul id="menu" class="menu">
                    <div class="user-info">
                        <div class="user-avatar"></div>
                        <h2 class="username">USER123</h2>
                    </div>
                    <div class="drop-down-menu-items">
                        <a class="menu-item" href="addPost.html"><img
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/adfaad1ed350394e81df1e5b00584082928f09eeb10adf6780628002a42bfd84?apiKey=b86036a5846045fa8db7cf278357723c&"
                                alt="" class="menu-icon" />
                            <span class="menu-label">create post</span></a>

                        <a class="menu-item" href="addTopic.html"> <img
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/adfaad1ed350394e81df1e5b00584082928f09eeb10adf6780628002a42bfd84?apiKey=b86036a5846045fa8db7cf278357723c&"
                                alt="" class="menu-icon" />
                            <span class="menu-label">create topic</span>
                        </a>

                        <a class="theme-toggle" href="#"> <img
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/e86953dd8bf2b5957f1d75e46b48be108257636fc6842a5bbc6a6cdb315a75b6?apiKey=b86036a5846045fa8db7cf278357723c&"
                                alt="" class="theme-icon" />
                            <span class="menu-label">light mode</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </a>

                        <a class="settings" href="#"> <span class="settings-icon-wrapper">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/90932ebe3d2e67056ab3c27059fd49acf43aec8e7c0e757a8e3693c7fa18bf72?apiKey=b86036a5846045fa8db7cf278357723c&"
                                    alt="" class="settings-icon-bg" />
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a4b0a2d6e2e63e55a021a5f121996a45115bb25734158264496c38a1f682c5cf?apiKey=b86036a5846045fa8db7cf278357723c&"
                                    alt="" class="settings-icon" />
                            </span>
                            <span class="settings-label">settings</span>
                        </a>


                        <div class="log-out">
                            <hr style="height: 1.5px; background-color: white; opacity: 1;">
                            <a class="logout" href="#">
                                <span class="logout-icon-wrapper">
                                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/da6e01a7d0c4d20c453c49745ae1311fdd847b0703edcd0700ecad73a0ecb320?apiKey=b86036a5846045fa8db7cf278357723c&"
                                        alt="" class="logout-icon" />
                                </span>
                                <span class="logout-label">log out</span>
                            </a>
                        </div>
                        
                    </div>
                </ul>
            </div>
        </div>  
    </div>
    

</header>
