<div class="main_body">
    <app-logo-nav>
    </app-logo-nav>
    
    <div class="container d-flex justify-content-center align-items-center flex-column vh-100">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-md-12 d-flex justify-content-center align-items-center my-20" style="height: 3fr;"> 
              <p class="size-big font-inter fw-bolder text-center display-2 mx-20 my-20">SpeakUp Created <br> for enjoy</p>    
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 pad-20" style="height: 1fr;">          
              <a routerLink="/first" routerLinkActive="active" ariaCurrentWhenActive="page" class=" font-julius-sans-one text-center fw-light fs-2 my-btn d-flex justify-content-center align-items-center">Start<span class="arrow-end"></span></a>
            </div>
          </div>
        </div>
    </div>
  
    <img src="assets/welcome_page_svg.svg" alt="" class="back"> 
  
  </div>