<div class="main_container">
  <app-logo-nav>
  </app-logo-nav>
  <canvas class="back" #canvasElement></canvas>
    
    <div class="container d-flex justify-content-center align-items-center flex-column vh-100">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-md-12 d-flex justify-content-center align-items-center mb-20" style="height: 3fr;"> 
              <p class="size-big font-inter fw-bolder text-center display-1 mb-20">SpeakUp Created <br> for <strong></strong></p>    
            </div>
          </div>
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 pad-20" style="height: 1fr;">          
              <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class=" font-julius-sans-one text-center fw-light fs-2 my-btn d-flex justify-content-center align-items-center">Start<span class="arrow-end"></span></a>
            </div>
          </div>
        </div>
    </div>
  
  </div>