<div class="main-container d-flex justify-content-center align-items-center">
    
    <div>
        <div *ngIf="!isLightThemeOn">
            <div class="div-1"></div>
            <div class="div-2"></div>
            <div class="div-3"></div>
            <div class="div-4"></div>
            <div class="div-5"></div>
            <div class="div-6"></div>
            <div class="div-7"></div>
            <div class="div-8"></div>
            <div class="div-9"></div>
            <div class="div-10"></div>
            <div class="div-11"></div>
            <div class="div-12"></div>
            <div class="div-13"></div>
            <div class="div-14"></div>
            <div class="div-15"></div>
            <div class="div-16"></div>
            <div class="div-17"></div>
            <div class="div-18"></div>
            <div class="div-19"></div>
            <div class="div-20"></div>
            <div class="div-21"></div>
            <div class="div-22"></div>
            <div class="div-23"></div>
            <div class="div-24"></div>
            <div class="div-25"></div>
            <div class="div-26"></div>
            <div class="div-27"></div>
            <div class="div-28"></div>
            <div class="div-29"></div>
            <div class="div-30"></div>
            <div class="div-31"></div>
            <div class="div-32"></div>
            <div class="div-33"></div>
            <div class="div-34"></div>
            <div class="div-35"></div>
            <div class="div-36"></div>
            <div class="div-37"></div>
        </div>
        <div *ngIf="isLightThemeOn">
            <div class="cloud"></div>
            <div class="cloud_two"></div>
            <div class="cloud_three"></div>
            <div class="cloud_four"></div>
            <div class="cloud_five"></div>
            <div class="cloud_six"></div>
            <div class="cloud_seven"></div>
        </div>
    </div>
    
    <div class="centered-number">4</div>

    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 15vh;"  id="e404">
        <div class="row d-flex justify-content-center align-items-center">
            
            <div class="cat-container">
                <div class="cat">
                    <div class="ear-back"></div>
                    <div class="leg leg-back">
                        <div class="leg-inner"></div>
                    </div>
                    <div class="paw paw-back">
                        <div class="paw-inner"></div>
                    </div>
                    <div class="body">
                        <div class="tummy"></div>
                        <div class="eye-mark"></div>
                        <div class="eye eye-left"></div>
                        <div class="eye eye-right"></div>
                        <div class="nose"></div>
                    </div>
                    <div class="ear-front">
                        <div class="ear-inner"></div>
                    </div>
                    <div class="leg leg-front">
                        <div class="leg-inner"></div>
                    </div>
                    <div class="paw paw-front">
                        <div class="paw-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="centered-number2">4</div>

</div>

<div class="d-flex justify-content-center align-items-center flex-column" style="position: absolute; bottom: 1vh; width: 100vw;">
    <div class="text-center font-julius-sans-one fs-1 fw-black mx-5" id="err-message">
        <p class="lh-1">Oops!</p>
        <p class="lh-1 fs-2 fw-normal"> The page you are looking for does not exist.</p>
    </div>
    
    <div class="mt-4 d-flex justify-content-center align-items-center" [ngClass]="isLightThemeOn ? 'my-btn-secondary-here' : 'my-btn'" id="button">
        <a routerLink="/home" routerLinkActive="active" class="text-decoration-none">
            <div class="font-julius-sans-one text-capitalize lh-1 fw-bold text-center fs-4 px-5 py-2" [ngClass]="isLightThemeOn ? '' : 'link-light'" >Go To Homepage</div>
        </a>
    </div>
</div>

