<ul class="nav container-fluid">
    <div class="container-fluid d-grid  ">
        <div class="row row-cols-2">
            <li class="col nav-item d-flex justify-content-sm-start align-items-center">
                <a class="nav-link active mx-lg-20 font-julius-sans-one fw-normal fs-1" href="#">Logo</a>
            </li>
            <li class="dis col nav-item position-relative d-flex justify-content-end align-items-center end-0 p-5">
                <a class="no-hover mx-lg-5 d-flex font-julius-sans-one fw-normal fs-2 text-decoration-none my-btn px-20 d-flex justify-content-center align-items-center" href="#">
                    Start 
                    <span class="arrow-end"></span>
                </a>
            </li>
        </div>
    </div>
</ul>

<!-- <nav class="navbar" style="background: transparent;">
    <div class="container-fluid">
        <a class="nav-item active m-lg-5 font-julius-sans-one fw-normal fs-1 text-decoration-none" href="#">
            Logo
        </a>
        <a class=" m-lg-5 d-flex font-julius-sans-one fw-normal fs-2 text-decoration-none my-btn px-20 d-flex justify-content-center align-items-center" href="#">
        Start 
        <span class="arrow-end"></span>
        </a>
    </div>
  </nav> -->