<div class="main-container ">
    <app-logo-nav>
    </app-logo-nav>
    <canvas class="back" #canvasElement></canvas> 

    <div class="container d-flex justify-content-center align-items-center flex-column vh-100" style="z-index: 100;">
        
        <div class="w-auto d-flex justify-content-center align-items-center flex-column h-100 gap-3">

            <div class="card card-3d-wrapper mx-2 max-w-full overflow-y-scroll d-flex justify-content-center align-items-center flex-column">

                <div class="inner w-100 h-100 d-flex justify-content-center align-items-center flex-column" [ngClass]="{'animation-rotation': isSignup}">
                    <div class="card-body px-5 py-5 pt-10 card-front">
                        <div class="position-relative">
                            <h5 class="login-title font-julius-sans-one fs-1">LOG IN</h5>
                            
                            <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)" class="font-inter">
                                <div class="from-feilds mt-4 px-md-5 d-flex flex-column gap-md-2 gap-1">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-md-2  fs-5 invisible" placeholder="">
                                    <input type="email" class="form-control flex-grow-1 py-1 py-md-2  fs-5" placeholder="Email" name="email" required ngModel #loginEmail="ngModel" email id="login-name">
                                    <div class="d-flex justify-content-center align-items-center position-relative">
                                        <input [type]="isLoginPasswordVisible ? 'text' : 'password'" class="form-control flex-grow-1 py-1 py-md-2 fs-5 passwd-input" placeholder="Password" name = "password" required ngModel #loginPassword="ngModel" id="login-password">
                                        <span class="passwd-btn btn p-1" (click)="isLoginPasswordVisible = !isLoginPasswordVisible" id="login-show-password-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="isLoginPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="!isLoginPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                            </svg>  
                                        </span>
                                    </div>
                                    <input type="text" class="form-control flex-grow-1 py-1 py-md-2  fs-5 invisible" placeholder="">
                                </div>
                                
                                <div class="mt-4  mb-md-3 px-md-5 d-flex flex-column gap-md-3 gap-1">
                                    <div class="my-btn-wrapper d-flex flex-column justify-content-center" (click)="toggleSubmitBtnAnimation(loginForm)"  (@bouceOnClick.done)="onSubmitBtnAnimationDone()" [@bouceOnClick]="submitBtnState" id="login-btn">
                                        <input type="submit"  value="Log In" class="font-julius-sans-one my-btn-secondary p-1 fs-4 fw-light">
                                    </div>
                                    <div class="font-julius-sans-one link-light text-decoration-none text-capitalize text-center fs-6 err-message" style="max-height: 1.3rem;" *ngIf="(loginEmail.invalid && loginEmail.touched) || (loginPassword.invalid && loginPassword.touched); else loginDummyElement">
                                        <div *ngIf="loginEmail.errors?.['required']">Email is required.</div>
                                        <div *ngIf="loginEmail.errors?.['email']">Invalid email format.</div>
                                        <div *ngIf="loginPassword.errors?.['required']">Password is required.</div>
                                    </div>
                                    <ng-template #loginDummyElement>
                                        <div class="font-julius-sans-one link-light text-decoration-none text-capitalize text-center fs-6 err-message invisible">dummyElement</div>
                                    </ng-template>
                                </div> 
                            </form>

                            <div class="mt-2 mt-md-4 font-julius-sans-one d-flex justify-content-center align-items-center flex-column">
                                <div class="link-light text-uppercase text-center fs-5" (click)="toggleCardRotate()" id="signup-toggle-btn">Sign up</div>
                            </div>
                        </div>
                    </div>



                    <div class="card-body px-5 py-5 pt-10 card-back">

                        <div class="position-relative">
                            <h5 class="login-title font-julius-sans-one fs-1">SIGN UP</h5>
                        
                            <form   #signupForm="ngForm" (ngSubmit)="submitSignupForm(signupForm)" class="font-inter">
                                <div class="from-feilds mt-4 px-md-5 d-flex flex-column gap-md-2 gap-1">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-md-2 px-md-3 fs-5" placeholder="Username" name="username" required ngModel #signupUsername="ngModel" id="signup-name">
                                    <input type="email" class="form-control flex-grow-1 py-1 py-md-2 px-md-3 fs-5" placeholder="Email" name="email" required ngModel #signupEmail="ngModel" email id="signup-email">
                                    <div class="d-flex justify-content-center align-items-center position-relative">
                                        <input [type]="isSignupPasswordVisible ? 'text' : 'password'" class="form-control flex-grow-1 py-1 py-md-2 px-md-3 fs-5 passwd-input" placeholder="Password" name="password" required ngModel #signupPassword="ngModel" id="signup-password">
                                        <span class="passwd-btn btn p-1" id="signup-show-password-btn" (click)="isSignupPasswordVisible = !isSignupPasswordVisible">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="isSignupPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="!isSignupPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center position-relative">
                                        <input [type]="isSignupConfirmPasswordVisible ? 'text' : 'password'" class="form-control flex-grow-1 py-1 py-md-2 px-md-3 fs-5 passwd-input" placeholder="Confirm Password" name="confirm-password" required ngModel #signupConfirmPassword="ngModel" id="signup-confirm-password">
                                        <span class="passwd-btn btn p-1" id="signup-show-confirm-password-btn" (click)="isSignupConfirmPasswordVisible = !isSignupConfirmPasswordVisible">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="isSignupConfirmPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w25h25" *ngIf="!isSignupConfirmPasswordVisible">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                            </svg>  
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="mt-4  mb-md-3 px-md-5 d-flex flex-column gap-md-3 gap-1">
                                    <div class="my-btn-wrapper d-flex flex-column justify-content-center" (click)="toggleSubmitBtnAnimation(signupForm)"  (@bouceOnClick.done)="onSubmitBtnAnimationDone()" [@bouceOnClick]="submitBtnState" id="signup-btn">
                                        <input type="submit" value="Sign up" class="font-julius-sans-one my-btn-secondary p-1 fs-4 fw-light">
                                    </div>
                                    <div class="font-julius-sans-one link-light text-decoration-none text-capitalize text-center fs-6 err-message" style="max-height: 1.3rem;" *ngIf="(signupEmail.invalid && signupEmail.touched) || (signupUsername.invalid && signupUsername.touched) || (signupPassword.invalid && signupPassword.touched) || (signupConfirmPassword.invalid && signupConfirmPassword.touched) || (signupPassword.value !== signupConfirmPassword.value); else sigupDummyElement">
                                        <div *ngIf="signupUsername.errors?.['required']">Username is required.</div>
                                        <div *ngIf="signupEmail.errors?.['required']">Email is required.</div>
                                        <div *ngIf="signupEmail.errors?.['email']">Invalid email format.</div>
                                        <div *ngIf="signupPassword.errors?.['required']">Password is required.</div>
                                        <div *ngIf="signupConfirmPassword.errors?.['required']">Confirm Password is required.</div>
                                        <div *ngIf="signupPassword.value !== signupConfirmPassword.value">Passwords dont match</div>
                                    </div>
                                    <ng-template #sigupDummyElement>
                                        <div class="font-julius-sans-one link-light text-decoration-none text-capitalize text-center fs-6 err-message invisible">dummyElement</div>
                                    </ng-template>
                                </div>
                            </form>

                            <div class="mt-2 mt-md-4 font-julius-sans-one d-flex justify-content-center align-items-center flex-column"> 
                                <div class="link-light text-uppercase text-center fs-5" (click)="toggleCardRotate()" id="login-toggle-btn">Log In</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button (click)="redirectToGoogle()" class="google-btn font-julius-sans-one text-uppercase my-btn p-1 fw-light py-2 d-flex justify-content-center align-items-center" id="redirectToGoogleBtn">
                <span class="google-icon"></span> Continue with Google Account
            </button>
        </div>
    </div>
</div>

<ng-template #content let-modal class="overflow-hidden">
    <div class="my-modal-body font-julius-sans-one py-3 overflow-hidden">

        <img src="../../assets/crying_cat_img.png" alt=";-; cat" class="corner-img">

        <div class="px-5 py-3 d-flex justify-content-between align-content-center">
            <div>
                <div class="display-4">
                    Oops... 
                    <br>
                </div>
                <div class="fs-1">
                    Something 
                    <br>
                    Went Wrong
                </div>
            </div>
            <div class="d-flex justify-content-end align-content-end">
                <span class=" align-items-center justify-content-center p-0">
                    <span class=" btn p-2 " (click)="modal.close('Close click')" id="close-modal">
                        <div 
                        class="w20h20 icon d-flex align-items-center justify-content-center" tabindex="1">
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.6584 0.342073C27.4396 0.123356 27.1429 0.000488281 26.8336 0.000488281C26.5242 0.000488281 26.2275 0.123356 26.0087 0.342073L14.0002 12.3506L1.99174 0.342073C1.77296 0.123356 1.47626 0.000488281 1.16691 0.000488281C0.857548 0.000488281 0.560855 0.123356 0.342073 0.342073C0.123356 0.560855 0.000488281 0.857548 0.000488281 1.16691C0.000488281 1.47626 0.123356 1.77296 0.342073 1.99174L12.3506 14.0002L0.342073 26.0087C0.123356 26.2275 0.000488281 26.5242 0.000488281 26.8336C0.000488281 27.1429 0.123356 27.4396 0.342073 27.6584C0.560855 27.8771 0.857548 28 1.16691 28C1.47626 28 1.77296 27.8771 1.99174 27.6584L14.0002 15.6499L26.0087 27.6584C26.2275 27.8771 26.5242 28 26.8336 28C27.1429 28 27.4396 27.8771 27.6584 27.6584C27.8771 27.4396 28 27.1429 28 26.8336C28 26.5242 27.8771 26.2275 27.6584 26.0087L15.6499 14.0002L27.6584 1.99174C27.8771 1.77296 28 1.47626 28 1.16691C28 0.857548 27.8771 0.560855 27.6584 0.342073Z"/>
                        </svg>
                        </div>
                    </span>
                </span>
            </div>
        </div>

        <div class="px-5 py-5 d-flex justify-content-between fs-6">
            <div>
                Invalid login or password, 
                <br>
                try again
            </div>
        </div>

        <div class="mx-2 mx-sm-5 px-5 py-5 d-flex justify-content-between" (click)="closeModalAndReload()" id="try-again-btn">
            <div class="my-btn p-0 px-md-5">
                <div class=" px-3 px-sm-5 py-1 fs-3">
                    Try Again
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loginSuccesfull>Login Succesful!</ng-template>
<ng-template #loginFailed>Login Failed!</ng-template>
<ng-template #signupSuccesfull>Signup Succesful!</ng-template>
<ng-template #signupFailed>Signup Failed!</ng-template>
<app-toasts-container aria-live="polite" aria-atomic="true"></app-toasts-container>


