<div class="main_container">
    <app-logo-nav>
    </app-logo-nav>
    <img src="assets/login_page_svg.svg" alt="" class="back"> 

    <div class="container d-flex justify-content-center align-items-center flex-column vh-100">
        
        <div class="w-auto d-flex justify-content-center align-items-center flex-column h-100 gap-3">

            <div class="card card-3d-wrapper mx-2 max-w-full overflow-y-scroll d-flex justify-content-center align-items-center flex-column">

                <div class="inner w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                    <div class="card-body px-5 py-5 pt-10 card-front" id="card-login">
                        <div class="position-relative">
                            <h5 class="login-title pt-3 font-julius-sans-one fs-1">LOG IN</h5>
                            
                            <form action="" class="font-julius-sans-one text-uppercase">
                                <div class="from-feilds mt-4 px-5 d-flex flex-column gap-sm-3 gap-2">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4" placeholder="Login" id="login-login">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4" placeholder="Password" id="password-login">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4 invisible" placeholder="">
                                </div>
                                
                                <div class="mt-4 mt-sm-20 mb-sm-3 px-5 d-flex flex-column gap-3">
                                    <input type="submit" value="Log In" class="my-btn p-1 fs-4 fw-light">
                                </div>
                            </form>

                            <div class="mt-4 font-julius-sans-one d-flex justify-content-center align-items-center flex-column">
                                <a href="" class="link-light text-capitalize text-center fs-5">Forgot password?</a>
                                <div class="link-light text-uppercase text-center fs-4">Sign up</div>
                            </div>
                        </div>

                    </div>



                    <div class="card-body px-5 py-5 pt-10 card-back" id="card-signup">

                        <div class="position-relative">
                            <h5 class="login-title pt-3 font-julius-sans-one fs-1">SIGN UP</h5>
                        
                            <form action="" class="font-julius-sans-one text-uppercase">
                                <div class="from-feilds mt-4 px-5 d-flex flex-column gap-sm-3 gap-2">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4" placeholder="Login" id="login-signup">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4" placeholder="Email" id="email-signup">
                                    <input type="text" class="form-control flex-grow-1 py-1 py-2 px-3 fs-4" placeholder="Password" id="password-signup">
                                </div>
                                
                                <div class="mt-4 mt-sm-20 mb-sm-3 px-5 d-flex flex-column gap-3">
                                    <input type="submit" value="Sign up" class="my-btn p-1 fs-4 fw-light">
                                </div>
                            </form>

                            <div class="mt-4 font-julius-sans-one d-flex justify-content-center align-items-center flex-column">
                                <a href="" class="link-light text-capitalize text-center fs-5 invisible">Forgot password?</a>
                                <div class="link-light text-uppercase text-center fs-4">Log In</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <input type="submit" value="Continue with Google Account" class="google-btn font-julius-sans-one text-uppercase my-btn p-1 fw-light py-2">
        </div>
       
    </div>

</div>

