<div class="main-container font-julius-sans-one fw-normal container-fluid fill">
    <div class="m-1 m-lg-5">
        <div class="mx-1 mx-md-5">
            <div class="mx-1 mx-sm-5 my-5 p-3 p-lg-5 create-post-container">
                <div class="fs-2 py-2 px-sm-4">Create a Post</div>
                <div class="py-sm-4 px-sm-3 font-inter d-flex flex-column gap-3 flex-grow-1">
                    <div class="d-flex justify-content-center align-items-center flex-grow-0">
                        <input type="text" class="font-inter rounded-5 form-control flex-grow-1 px-4 py-1 py-md-2 fs-4" placeholder="Title" id="title" >
                    </div>
                    <div class="d-flex flex-column flex-grow-1">
                        <textarea class="form-control flex-grow-1 px-4 py-3 fs-5 post-text"  placeholder="text" id="textarea"></textarea>
                    </div>
                    <div class="px-1 px-xl-5 py-1 d-flex justify-content-between align-items-center font-julius-sans-one flex-sm-row flex-column">
                        <span class=" d-flex align-items-center justify-content-center flex-row py-1 px-2 btn gap-2 popup-link" id="add-photo">
                            <div class="w20h20 icon d-flex justify-content-center align-items-center">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_325_102)">
                                    <path d="M24 11H13V0H11V11H0V13H11V24H13V13H24V11Z" />
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_325_102">
                                    <rect width="24" height="24"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </div>
                            <span class="font-julius-sans-one fw-normal fs-6 white-space-nowrap">Add photo</span>
                        </span>
                        <div class="d-flex justify-content-center align-items-center gap-3 gap-sm-4 gap-lg-4">
                            <div class="my-btn px-1 px-lg-4 py-1">
                                <div class="px-3 px-md-4 fs-5" id="save-post">Save</div>
                            </div>
                            <div class="my-btn px-1 px-lg-4 py-1">
                                <div class="px-3 px-md-4 fs-5" id="post-post">Post</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

